/* GLOBAL  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Hind', sans-serif;
}
/* HEADER  */
header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}
/* truoc hover  */
#portNavbar .nav-link::after {
    content: '';
    width: 0;
    height: 5px;
    background: #35a22c;
    display: block;

    transition: all .5s;
}
/* sau hover  */
#portNavbar .nav-link:hover::after {
    width: 100%;
}
#portNavbar .active .nav-link::after {
    width: 100%;
}

/* CAROUSEL  */
/*  B1: chinh kich thuoc avatar
    B2: chinh chieu cao anh nen (height)
    B3: chinh vi tri noi dung caption, o chinh giua
    B4: chinh hinh dang cua indicator
*/

/* B1  */
.portAvatar {
    width: 140px;
    border-radius: 50%;
}

/* B2  */
#portCarouselID .carousel-item {
    height: 100vh;
}
#portCarouselID .carousel-item>img {
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
/* B3  */
/* BS da co khai bao position absolute, can phai can giua voi position absolute */
#portCarouselID .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%); /* Chieu doc va chieu ngang keo nguoc lai*/
}
#portCarouselID .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
#portCarouselID .carousel-indicators li.active {
    background-color: #35a22c;
}

/*Project*/
.project__content .nav {
    justify-content: center;
}

/* AWARD  */
.award {
    padding: 100px 0;
    position: relative;
}
.award__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/memphis_3.png);
    background-position: bottom left;
    background-size: 50% auto;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.award__left {
    box-shadow: 0 0 30px 0 rgb(0,0,0,0.3);
    background-color: rgba(red, green, blue, 0.25);
    border: 1px solid rgba(255,255,255,0.18);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
}

/* RESPONSIVE  */
@media  screen and (max-width: 992px) {

    /* HEADER  */
    header .navbar-toggler {
        background-color: #35a22c;
    }
    header .navbar-nav {
        background-color: white;
    }
    #portNavbar a {
        color: #35a22c;
        transition: all .5s;
    }
    /* CAROUSEL  */

}